@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

/*varibale para color de fondo y fuentes*/
/*variable para media queries*/
/* GRILLA CON GRID AREAS DEL INDEX*/
#grilla__index {
  display: grid;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main testimonios" "footer footer footer footer";
  grid-template-columns: 2fr 4fr 5fr 1fr;
}

header {
  background-color: rgb(255, 255, 255);
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.testimonios {
  grid-area: testimonios;
  background-color: #5b2046;
}

footer {
  grid-area: footer;
}

/* GRILLA PROMOCIONES */
#grilla-promociones {
  display: grid;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer";
  grid-template-columns: 2fr 4fr 5fr 1fr;
}

/* GRILLA UBICACION */
#grilla-ubicacion {
  display: grid;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer";
  grid-template-columns: 2fr 4fr 5fr 1fr;
}

/*MIXIN*/
/* LISTA DE NAVEGACION */
#navbarSupportedContent ul {
  list-style-type: none;
}
#navbarSupportedContent ul a {
  font-weight: 800;
}

/* FONDOS */
.fondo {
  max-width: 100%;
  margin-left: 5rem;
  margin-right: 2rem;
}

.fondoindex {
  background-color: rgb(244, 244, 248);
}

.fondo__galeria {
  background: radial-gradient(circle, rgb(242, 240, 240), rgb(248, 225, 244), rgb(242, 171, 198), rgb(232, 123, 179), blue);
}

.fondo__contacto {
  background: radial-gradient(circle, rgb(242, 240, 240), rgb(248, 225, 244), rgb(242, 171, 198), rgb(232, 123, 179), blue);
}

.fondo__ubicacion {
  background-color: rgb(244, 244, 248);
}

/* HEADER */
.imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-size: 798%;
  font-weight: 805;
  color: hwb(274 2% 72%);
  text-decoration: underline;
  background-color: white;
}

.subtitulo {
  font-family: "Times New Roman", Times, serif;
  font-size: 400%;
  font-weight: 400;
  color: rgb(15, 14, 15);
  text-align: end;
}

.logo {
  max-width: 100%;
  width: 15rem;
  height: 15rem;
}

/* FOOTER*/
footer {
  background: linear-gradient(hwb(180 97% 2%), hsl(316deg, 83%, 16%));
  height: 7rem;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.redes__parrafo {
  font-size: 150%;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.icono {
  max-width: 100%;
  width: 3rem;
  height: 3rem;
}

.footer__parrafo {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: rgb(247, 246, 248);
  text-align: end;
}

/* STAFF */
.staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff img {
  max-width: 100%;
  width: 25rem;
  height: 18rem;
  margin-top: 1rem;
  transition: all 2s;
}
.staff img:hover {
  width: 40rem;
  height: 28rem;
}

.staff p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 250%;
  font-weight: bolder;
  color: rgb(32, 2, 32);
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 16rem;
  margin-left: 16rem;
  background-image: radial-gradient(farthest-corner at 40px 40px, rgb(241, 239, 240) 0%, rgb(194, 116, 165) 100%);
}

/* INDEX */
.titulo-index {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 400%;
  font-weight: 800;
  text-align: center;
  color: rgb(74, 15, 101);
  margin-top: 5rem;
  text-decoration: underline;
}

/* EQUIPO */
.nuestro-staff {
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-style: normal;
  text-decoration: underline;
  text-align: center;
  margin-top: 10rem;
  color: rgb(74, 15, 101);
}

.equipo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.equipo__personal {
  text-align: center;
  font-family: "Roboto", sans-serif;
  border: solid 1rem rgb(24, 1, 10);
  border-width: 1rem;
  width: 20rem;
  height: 13rem;
  background-color: #f7ddee;
  text-decoration: underline;
  transition: all 3s;
}

.equipo__personal img {
  max-width: 100%;
  width: 6rem;
  height: 8rem;
}
.equipo__personal img:hover {
  width: 12rem;
  height: 16;
}

/* SIGNIFICADO DE LAS UÑAS*/
.informacion {
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-style: normal;
  text-decoration: underline;
  text-align: center;
  margin-top: 10rem;
  color: rgb(74, 15, 101);
}

.informacion__descripcion {
  font-family: "Times New Roman", Times, serif;
  font-size: 300%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 16rem;
  margin-left: 16rem;
  text-align: center;
  color: hsl(304deg, 83%, 7%);
  background-image: radial-gradient(farthest-corner at 40px 40px, rgb(241, 239, 240) 0%, rgb(194, 116, 165) 100%);
}

/* OPCIONES PARA UÑAS */
.opciones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.card__opcion {
  font-family: "Roboto", sans-serif;
  border: solid 0.2rem rgb(24, 1, 10);
  border-width: 2rem;
  width: 25rem;
  background-color: #54063f;
  margin-bottom: 3rem;
}

.card__parrafo {
  text-align: center;
  font-size: 200%;
  color: aliceblue;
}

.card__img {
  max-width: 100%;
  height: 20rem;
  width: 40rem;
}

.posibilidades {
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-style: normal;
  text-decoration: underline;
  text-align: center;
  margin-top: 10rem;
  color: rgb(74, 15, 101);
}

/* TESTIMONIOS CLIENTAS*/
.testimonios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.testimonios p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: rgb(253, 247, 252);
  text-align: center;
}
.testimonios img {
  max-width: 100%;
  height: 5rem;
  width: 4rem;
}

.contenedores-testimonios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* GALERIA*/
#carouselExampleControls {
  width: 50%;
  margin: 0 auto;
}

.galeria {
  text-align: center;
  font-size: 400%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: underline;
  color: rgb(6, 1, 6);
}

.lista__galeria {
  font-size: 200%;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: rgb(6, 7, 7);
}

.lista__manos {
  font-weight: 700;
}

.lista__depilacion {
  font-weight: 700;
}

.galeria__video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clientas {
  font-size: 400%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-align: center;
  color: rgb(5, 16, 25);
}

.clientas__video {
  max-width: 100%;
  width: 30rem;
  height: 30rem;
}

table {
  border-color: black;
  font-size: 200%;
  font-weight: 300;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

/* CONTACTO*/
form {
  border: 20rem;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 6rem;
  border-width: 10rem;
  border-color: blueviolet;
  color: rgb(18, 1, 18);
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-size: 100%;
  font-weight: 600;
}

.formulario {
  margin-top: 10rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
  color: rgb(5, 0, 9);
  font-size: 200%;
}

.formulario__relleno {
  margin-top: 5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: rgb(12, 12, 13);
  font-size: 200%;
  font-weight: 900;
}

.promociones {
  text-align: left;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 200%;
}

.boton {
  background-color: beige;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  padding: 1 rem 2rem;
  text-align: center;
  margin-left: 6rem;
  width: 9rem;
  border-radius: 8px;
}

/* UBICACION*/
.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ubicacion__titulo {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-size: 400%;
  font-style: oblique;
}

.ubicacion__mapa {
  max-width: 100%;
}

/*EXTEND*/
.ubicacion__direccion, .ubicacion__telefono, .ubicacion__pais {
  text-align: center;
  font-size: 200%;
  font-style: oblique;
}

/* MEDIA QUERIES PANTALLA EXTRA GRANDE */
@media screen and (max-width: 1400px) {
  .opciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .subtitulo {
    text-align: center;
  }
  table {
    font-size: 150%;
  }
  .ubicacion__telefono {
    font-size: 130%;
    font-weight: 700;
  }
  .ubicacion__pais {
    font-size: 130%;
    font-weight: 700;
  }
  .ubicacion__direccion, .ubicacion__pais, .ubicacion__telefono {
    font-size: 130%;
    font-weight: 700;
  }
  .ubicacion__titulo {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
  }
  form {
    margin: 0 auto;
  }
}
/* MEDIA QUERIES PANTALLA GRANDE */
@media screen and (max-width: 992px) {
  .titulo {
    font-size: 600%;
  }
  .staff p {
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    margin: 0 auto;
  }
  .equipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .informacion__descripcion {
    font-size: 150%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .informacion {
    font-size: 250%;
  }
  .opciones {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* MEDIA QUERIES PANTALLA MEDIANA*/
@media screen and (max-width: 768px) {
  #grilla__index {
    display: grid;
    grid-template-areas: "header header" "nav nav" "main main" "testimonios testimonios" "footer footer";
    grid-template-columns: 6fr 6fr;
  }
  .titulo {
    font-size: 400%;
  }
  .imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
  }
  .subtitulo {
    text-align: center;
    font-size: 100%;
  }
}
.galeria {
  font-size: 200%;
}

.clientas {
  font-size: 150%;
}

.lista__galeria {
  font-size: 150%;
  display: flex;
  flex-direction: column;
}

#grilla-promociones {
  display: grid;
  grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  grid-template-columns: 6fr 6fr;
}

header {
  background-color: rgb(255, 255, 255);
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

#grilla-ubicacion {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-columns: 10fr;
}

header {
  background-color: rgb(255, 255, 255);
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
footer .formulario {
  font-size: 150%;
}
footer .formulario__relleno {
  font-size: 140%;
  text-decoration: underline;
  font-weight: 800;
}
footer table {
  font-size: 100%;
}

/*MEDIA QUERIES PANTALLA CEL*/
@media screen and (max-width: 580px) {
  .footer {
    height: 5rem;
  }
  .redes__parrafo {
    font-size: 80%;
  }
  .footer__parrafo {
    font-size: 60%;
    text-align: center;
  }
  .icono {
    max-width: 100%;
    width: 1rem;
    height: 1rem;
  }
  table {
    font-size: 60%;
  }
  .posibilidades {
    font-size: 80%;
  }
  .card__opcion {
    width: 12rem;
    border-width: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card__parrafo {
    font-size: 80%;
  }
  .card__img {
    max-width: 100%;
    height: 8rem;
    width: 5rem;
  }
  .informacion__descripcion {
    font-size: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .informacion {
    font-size: 100%;
  }
  .nuestro-staff {
    font-size: 100%;
  }
  .equipo__personal {
    width: auto;
    height: auto;
  }
  .staff img {
    width: 15rem;
    height: 8rem;
  }
  .staff p {
    font-size: 100%;
    font-weight: bolder;
    margin: 0 auto;
  }
  .titulo-index {
    font-size: 150%;
  }
  .titulo {
    font-size: 200%;
  }
}
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
