/* GALERIA*/
#carouselExampleControls {
    width: 50%;
    margin: 0 auto;
  }
  
  .galeria {
    text-align: center;
    font-size: $fuente-grande;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-decoration: underline;
    color: rgb(6, 1, 6);
  }

  .lista__galeria {
    font-size: $fuente-chica;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgb(6, 7, 7);
  }

  .lista__manos {
    font-weight: 700;
  }
  
  .lista__depilacion {
    font-weight: 700;
  }
  
  .galeria__video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .clientas {
    font-size: $fuente-grande;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-align: center;
    color: rgb(5, 16, 25);
  }

  
.clientas__video {
    max-width: 100%;
    width: 30rem;
    height: 30rem;
  }
  