  /* MEDIA QUERIES PANTALLA EXTRA GRANDE */
  @media screen and (max-width: 1400px) {
  .opciones {
    display: grid;
    grid-template-columns: 1fr;
  }
  }
  @media screen and (max-width: $pantalla-xg) {
    .subtitulo {
      text-align: center;
    }
    
      table {
        font-size: 150%;
      }
      .ubicacion__telefono {
        font-size: 130%;
        font-weight: 700;
      }
      .ubicacion__pais {
        font-size: 130%;
        font-weight: 700;
      }
      .ubicacion__direccion {
        font-size: 130%;
        font-weight: 700;
      }
      .ubicacion__titulo {
        font-size: 250%;
        font-weight: 700;
        text-align: center;
      }
      form {
        margin: 0 auto;
      }
    }

     /* MEDIA QUERIES PANTALLA GRANDE */
  @media screen and (max-width: $pantalla-grande) {
    .titulo {
      font-size: 600%;
    }

    .staff p {
        text-align: center;
        font-size: 150%;
        font-weight: bolder;
        margin: 0 auto;
      }
      .equipo {
      @include flex-colum-center;
        gap: 2rem;
      }
      .informacion__descripcion {
        font-size: 150%;
        margin-left: 2rem;
        margin-right: 2rem;
      }
      .informacion {
        font-size: 250%;
      }
      
  .descuentos{
  display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
      
    }
    p{
      font-size: 100%;
    }
    }
    

    /* MEDIA QUERIES PANTALLA MEDIANA*/
@media screen and (max-width: $pantalla-mediana) {
    #grilla__index {
      display: grid;
      grid-template-areas: "header header" "nav nav" "main main" "testimonios testimonios" "footer footer";
      grid-template-columns: 6fr 6fr;
    }
    .titulo {
        font-size: 400%;
      }
      .imagen {
        @include flex-colum-center;
        align-content: center;
        background-color: white;
      }
      .subtitulo {
        text-align: center;
        font-size: 100%;
      }
    }
    
    .galeria {
        font-size: 200%;
      }
      .clientas {
        font-size: 150%;
      }
      .lista__galeria {
        font-size: 150%;
        display: flex;
        flex-direction: column;
      }

      #grilla-promociones {
        display: grid;
        grid-template-areas: "header header" "nav nav" "main main" "footer footer";
        grid-template-columns: 6fr 6fr;
      }
    
    header {
      background-color: rgb(255, 255, 255);
      grid-area: header;
    }
    
    nav {
      grid-area: nav;
    }
    
    main {
      grid-area: main;
    }
    
    footer {
      grid-area: footer;
    }
      #grilla-ubicacion {
        display: grid;
        grid-template-areas: "header" "nav" "main" "footer";
        grid-template-columns: 10fr;
      }
    
    header {
      background-color: rgb(255, 255, 255);
      grid-area: header;
    }
    
    nav {
      grid-area: nav;
    }
    
    main {
      grid-area: main;
    }
    
    footer {
      grid-area: footer;

      .formulario {
        font-size: 150%;
      }
      .formulario__relleno {
        font-size: 140%;
        text-decoration: underline;
        font-weight: 800;
      }
      table {
        font-size: 100%;
      }

      .descuentos p{
        font-size: 100%;
      }
    }
    
    
    

/*MEDIA QUERIES PANTALLA CEL*/
@media screen and (max-width: $pantalla-cel) {
    .footer {
        height: 5rem;
      }
      .redes__parrafo {
        font-size: 80%;
      }
      .footer__parrafo {
        font-size: 60%;
        text-align: center;
      }
      .icono {
        max-width: 100%;
        width: 1rem;
        height: 1rem;
      }
      table {
        font-size: 60%;
      }
      .posibilidades {
        font-size: 80%;
      }
      .card__opcion {
        width: 12rem;
        border-width: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .card__parrafo {
        font-size: 80%;
      }
      .card__img {
        max-width: 100%;
        height: 8rem;
        width: 5rem;
      }
      .informacion__descripcion {
        font-size: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .informacion {
        font-size: 100%;
      }

      .nuestro-staff{
        font-size: 100%;
      }
      .equipo__personal {
        width: auto;
        height: auto;
      }
      .staff img {
        width: 15rem;
        height: 8rem;
      }
      .staff p {
        font-size: 100%;
        font-weight: bolder;
        margin: 0 auto;
      }
      .titulo-index {
        font-size: 150%;
      }
      .titulo {
        font-size: 200%;
      }

      
    }
    @media screen and (max-width: 410px) {
    .descuentos {
      font-size: 50%;
      p {
        font-size: 150%;
      }
    }

    .card-descuentos{
      height: 9rem;
      width: 18rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      border-width: 1rem;
    }
  }

    



