table {
    border-color: black;
    font-size: $fuente-chica;
    font-weight: 300;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

.descuentos{
  display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;

    p {
      color: rgb(3, 3, 3);
      text-align: center;
      font-size: $fuente-chica;
      font-weight: 700;
      }
     
}

.card-descuentos{
  font-family: "Roboto", sans-serif;
    border: solid 0.2rem rgb(209, 13, 89);
    border-width: 1rem;
    width: 25rem;
    background-color: #e1ebb1;
    margin-bottom: 3rem;
}

/*EXTEND*/
.boton-descuento{
  @extend .boton;
}