table {
    border-color: black;
    font-size: 200%;
    font-weight: 300;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }