/* UBICACION*/

.ubicacion {
  @include flex-column-spacearound;
  align-items: center;
}

.ubicacion__titulo {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-size: $fuente-grande;
  font-style: oblique;
}
.ubicacion__mapa {
    max-width: 100%;
  }
  
  /*EXTEND*/
  .ubicacion__direccion {
    text-align: center;
    font-size: $fuente-chica;
    font-style: oblique;
  }


  .ubicacion__pais {
    @extend .ubicacion__direccion;
  }
  
.ubicacion__telefono {
  @extend .ubicacion__direccion;
  }