/*varibale para color de fondo y fuentes*/
$bg-body: rgb(244, 244, 248); 
$bg-radial: radial-gradient(circle, rgb(242, 240, 240), rgb(248, 225, 244), rgb(242, 171, 198), rgb(232, 123, 179), blue);
$fuente-grande: 400%;
$fuente-chica: 200%;

/*variable para media queries*/
$pantalla-cel: 580px;
$pantalla-mediana: 768px;
$pantalla-grande: 992px;
$pantalla-xg: 1200px;